.container {
    width: 90%;
    margin: 100px auto;
    border-radius: 30px;
}

.container-faq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.1);
    padding: 30px;
    border-radius: 30px;
    max-width: 5000px;
    
}

.container-faq .title-faq {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 30px;
}

.container-faq .item-faq {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    margin-bottom: 20px;
    border-radius: 30px;
}

.container-faq .item-faq .question {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(../img/fondo4.jpg);
    background-position: center;
    background-size: cover;
    padding: 20px 20px 20px 80px;
    transition: .3s;
}

.container-faq .item-faq .question .more {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 15px -1px rgba(0,0,0,.2);
    width: 40px;
    height: 40px;
    font-size: 1rem;
    cursor: pointer;
    transition: .2s;
}

.container-faq .item-faq .question .more:hover {
    box-shadow: 0 0 15px -1px rgba(0,0,0,.4);
}

.container-faq .item-faq .question span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: 10px;
    opacity: .1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container-faq .item-faq .question h3{
    font-family: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 25px;
}

.container-faq .item-faq .answer {
    position: relative;
    padding: 0 20px 0 80px;
    overflow: hidden;
    height: 0;
    transition: .4s;
}

.container-faq .item-faq .answer p {
    font-size: 1.3rem;
    font-family: "Inter", sans-serif;
}

.container-faq .item-faq .answer span {
    position: absolute;
    left: 10px;
    font-size: 3rem;
    top: -10px;
    opacity: .2;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


